*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.heading{
    text-align: center;
}
/* one way to center a Div*/

.outer_div{         
    /* border:1px solid black; */
    border-radius: 10px;
    background-color: aqua;
    /* width: 30%; */
    /* height: 200px; */
    padding: 2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main_div{
    text-align: center;
    padding: 2%;
}
#country_inpt{
    font-size: 1em;
    padding: 0 0.6em;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(128, 128, 237);
    background-color: aqua;
}
#search_btn{
    font-size: 1em;
    background-color: rgb(45, 105, 245);
    color: aliceblue;
    border-radius: 30px;
    border: none;
    padding: 0.7em;
}
#result{
    /* border: 1px solid rgb(167, 13, 121); */
    border-radius: 10px;
    padding: 4%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
#result>img{
    width: 40%;
}
#result h2{
    text-align: center;
    margin-bottom: 5vh;
}
#result h3{
    display: inline;
}
#result p, h3{
    text-align: center;
}
#result{
    display: none;
}
.error{
    color: red;
}

/* second way to center a Div using display flex it give to pairent */
/* Note:- if we want to center a div inside the body with dispaly flex then we have to give hight as 100vh */
/* body{
    height: 100vh;   
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_div{
    border: solid black;
    width: 30%;
    height: 200px;
} */
